PROJECT: AIR AWARE SMART AIR QUALITY PREDICTION SYSTEM

=> Collect air quality data from sensors/APIs (CPCB)

=> Preprocess and analyze data to identify pollution trends.

=> Predict Air Quality 

=> Provide alerts & recommendations for health safety.

Module 1: Data Preprocessing & EDA. 
Download and preprocess air quality datasets.(CPCB, Open AQ). 
Conduct EDA to understand pollutant trends and correlations.
Resample data and prepare features for forecasting


Module 1: Data Preprocessing & EDA
1. Data Collection

Datasets:

CPCB (Central Pollution Control Board – India)

OpenAQ (Global open-source air quality data)

Pollutants Monitored: PM2.5, PM10, NO2, SO2, CO, O3, NH3, AQI.

Additional Features: Weather data (temperature, humidity, rainfall, wind speed).

2. Data Preprocessing

Cleaning

Handle missing values → interpolation, mean/median imputation, forward/backward fill.

Remove duplicates.

Standardize pollutant units .

Date-Time Handling

Convert timestamp column to datetime object.

Extract Hour, Day, Month, Season, Weekday as features.

Outlier Treatment

Detect via Z-score or IQR.

Visualize using boxplots.

Resampling

Raw data is often minute-wise/hourly → resample into:

Hourly averages (short-term prediction).

Daily averages (long-term trends).

3. Exploratory Data Analysis (EDA)

Univariate Analysis

Distribution plots for each pollutant.

Identify seasonal patterns (e.g., winter smog, summer dust).

Bivariate/Multivariate Analysis

Correlation heatmap (e.g., PM2.5 strongly correlated with PM10).

Scatterplots for pollutant vs pollutant.

Time-Series Trends

Line charts for pollutants across time.

Detect peaks during traffic hours/festivals/weather changes.

Geographical EDA (if multi-city data)

Compare AQI levels city-wise.

4. Feature Engineering for Forecasting

Lag Features

Previous hour/day pollutant values.

Rolling Features

Moving average, rolling standard deviation.

Time Features

Hour of day, day of week, season, holiday indicators.

External Features

Weather variables (temperature, humidity, wind, rainfall).

Target Variable

AQI (calculated from pollutants) or a specific pollutant (e.g., PM2.5).

5. Outcome of Module 1

=> Clean dataset free from missing values & outliers.
=> Resampled time-series data (hourly/daily).
=> Insights into pollutant patterns & correlations.
=> Feature-rich dataset ready for forecasting models.

LIBRARY: Collection of modules, pre-written code

FRAMEWORK: It provides a pre-defined structure and set of rules for building software or application.

NUMPY & PANDAS: For numerical computations.

SOFTWARE: The set of instructions to perform a specific task. It will tell hardware what to do.
1). System software: OS(Operating System), MAC OS
2). Application Software: MS Word, Web Browser
3). Programming Software: For compilers by using C, JAVA...we create a programming software.

PROGRAMMING: Writing instructions to create software.. It ia a language to communicate with computers.

WHY PYTHON:

=> Easy to learn and powerful tool.

=> Platform independent.

=> Having many libraries

=> Portable, Flexible, Versatile.

=> Variables stored in the form of key-value pairs.

=> Data is stored in variables.

=> It is case-sensitive language.

DATA TYPES:

DATA TYPES: INTEGER, FLOAT, STRING, BOOLEAN, LIST, TUPLE, SET, DICTIONARY

Assigning a value to variable is called initialization.

Declaring a variable is called Declaration.

10,-1,100 -> INTEGER

10.0,4.0  -> FLOAT

True and False  -> Boolean

For visualization -> frontend(Client Side)

For operations -> backend(Server Side)

For Storing -> Databases(Digital Storage Room)

FRONTEND: The part of a software/website the users can see and interact with UI(User Interface)

BACKEND: The server side logic that processes requests and runs the app.

DATABASE: Databases stores and manages data used by thr backend.

STRING CONCATENATION

In [3]:
a = "Hello"+ " " +"world"
print(a)

Hello world

In [23]:
a=2+"hello"        # not possible to concatenate coz integer + string
print(a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
a="r" * 10;
print(a)

rrrrrrrrrr

In [15]:
user = input();       # if we used input() by default it take it as a string.. if we convert from one data type to another data t
length = len(user);
print(length)

 akash

5

In [23]:
user = input();
age = input();
print(user + " is " + age + " years of old");

 akash
 20

akash is 20 years of old

In [27]:
username = "ravi"
first_let = username[2];      # STRING INDEXING
print(first_let);

v

In [35]:
message = 'Hi ravi';
part = message[3:7];        # STRING SLICING
print(part);                # print up to n-1 values

message = 'Hi ravi';
part = message[3:];        # STRING SLICING
print(part);


message = 'Hi ravi';
part = message[:2];        # STRING SLICING
print(part);



message = 'Hi ravi';
part = message[:];        # STRING SLICING
print(part);

ravi
ravi
Hi
Hi ravi

In [41]:
print(type(10));          # CHECKING DATA TYPES
print(type("akash"));

<class 'int'>
<class 'str'>

In [43]:
a = int(input())
b = int(input())
c = a + b
print(c)

 20
 20

40

In [71]:
# Q.WRITE A PROGRAM TO FIND WHTHER A NUMBER IS EVEN OR ODD

n = int(input())
if(n%2==0):
    print(n," is Even")
else:
    print(n," is Odd")

 6

6  is Even

In [81]:
# Q. WRITE A PROGRAM TO FIND PERIMETER OF RECTANGLE

l = int(input())   # length
b = int(input())   # breadth
a = (2 * (l+b))    # area
print(a)

 4
 5

18

OPERATORS

Perform mathematical calculations.

In [4]:
print(2<5);
print(1<2);

True
True

In [6]:
print("ABC"=="abc");

False

In [27]:
# LOGICAL OPERATORS
# and, or, not

a=int(input());
if(a%5==0 and a%3==0):
    print("Divisible by3 and 5");
else:
    print("Not divisible by 3 and 5");

 4

Not divisible by 3 and 5

 died

surya meets priya

CONDITIONAL STATEMENTS

In [17]:
if(True):
    print("yes");
else:
    print("no");



if(False):
    print("yes");
else:
    print("no");



print("win"=="Win");

yes
no
False

In [21]:
india = input();
if(india=="win"):
   print("Trophy is ours");
else:
    print("No Trophy");

 Win

No Trophy

In [31]:
# create a variable meghana condition if meghana died it should print (surya meets priya) if meghana not died it should print(meghana weds priya)

meghana = input();
if(meghana=="died"):
    print("surya meets priya");
else:
    print("meghana weds surya");

 died

surya meets priya

In [39]:
score = int(input());
if(score<35):
    print("poor student");
elif(score>35 and score<70):
    print("average student");
elif(score>35 and score<100):
    print("Good student");

 35

In [44]:
for i in range(20):
    print("hello world");

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

How to implement while block

Step-1: initialization
step-2: while termination_condition:
step-3: block of code
step-4: updation

In [47]:
a = int(input());
counter = 0;
while counter<3:
    a=a+1;
    print(a);
    counter = counter+1;

 5

6
7
8

In [52]:
word = "python";
for each_char in word:
    print(each_char);

p
y
t
h
o
n

In [54]:
for i in range(10):
    print(i);

0
1
2
3
4
5
6
7
8
9

In [41]:
for i in range(1,18):
    print(i);

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [60]:
for i in range(1,11):
    print("2 x ", i, " = ", 2*i);

2 x  1  =  2
2 x  2  =  4
2 x  3  =  6
2 x  4  =  8
2 x  5  =  10
2 x  6  =  12
2 x  7  =  14
2 x  8  =  16
2 x  9  =  18
2 x  10  =  20

Q. Write a program to print sum of 1st five natural numbers.

In [73]:
sum = 0
for i in range(1,6):
    sum = sum+i;
print("sum of first 5 natural numbers is",sum);

sum of first 5 natural numbers is 15

In [71]:
m = int(input());         # printing the sum of odd numbers between range
n = int(input());
sum = 0;
for each in range(m,n+1):
    if(each%2==1):
        sum = sum + each;
print(sum);

 5
 20

96

In [75]:
a = [1,2,3,4,5,6,7,8]
for i in a:
    print(i);

1
2
3
4
5
6
7
8

In [81]:
a = [10,3,5,2,4,9,7];
for num in a:
    if num%2==0:
        print(num, end = " ");

10 2 4

LOOPS

In [4]:
for i in range(1,6):
    for j in range(1,3):
        print(j,"Apple");

1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple

In [10]:
for i in range(1,3):
    print("week:",i);
    for j in range(1,4):
        print("day:",j);

week: 1
day: 1
day: 2
day: 3
week: 2
day: 1
day: 2
day: 3

In [16]:
for i in range(1,5):
    print();
    for j in range(1,i+1):
        print(j,end="");

1
12
123
1234

In [146]:
i=1;
while(i<6):
    print(i)
    i = i +1;

1
2
3
4
5

In [26]:
# 26-08-2025
# Break Statement
for i in range(5):
    if i==3:
        break
    print(i);
print("End");

0
1
2
End

In [ ]:
msg = "-r-a-v-i-";
print(msg[1:8:2]);

In [ ]:
is_digit = "42367".isdigit()
print()

In [30]:
# Continue Statement
for i in range(5):
    if i==3:
        continue
    print(i);
print("End");

0
1
2
4
End

In [32]:
# Pass
for i in range(10):
    pass          # we will not face any error eventhough the code is not full.

STRING INBUILD FUNCTIONS

In [41]:
is_alpha="Rahul".isalpha()   # all the characters are alphabet or not
print(is_alpha);
is_alphhaa="Rahul@".isalpha()   # all the characters are alphabet or not
print(is_alphhaa);

True
False

In [49]:
#islower
is_lower="hii ragavi".islower()    # all the characters are lower or not
print(is_lower);

#islower
is_upper="Hii ragavi".isupper()    # all the characters are lower or not
print(is_upper);

True
False

In [59]:
#isalnum
is_alnum="Rahul123".isalnum()
print(is_alnum)

is_allnnum="Rahul@123".isalnum()
print(is_allnnum)

True
False

In [71]:
cap = "the planet is big".title()
print(cap);

capp = "the planet is big".capitalize()
print(capp);

The Planet Is Big
The planet is big

In [65]:
swap = "RaM IS rAvI".swapcase()
print(swap);

rAm is RaVi

In [81]:
# Counting and Searching method
text = "Hello, World!"       # count the characters how many times repeated
count = text.count("l")
print(count)


text = "Hello, World!"       # count the characters how many times repeated
count = text.count("l",2,10)   # we can also give range
print(count)

3
2

In [85]:
text = "I have a spare key, if I lose my key"
count = text.index("key")     # give index number of first occurence of string
print(count)

15

In [87]:
text = "I have a spare key, if I lose my key"
count = text.rindex("key")     # give index number of last occurence of string
print(count)

33

In [97]:
text = "I have a spare key, if I lose my key"
count = text.find("key")     # give index number of first occurence of string
print(count)


text = "I have a spare key, if I lose my key"
count = text.find("hsg")     # give -1 
print(count)

text = "I have a spare key, if I lose my key"
count = text.rfind("key")     # give index number of last occurence of string
print(count)

15
-1
33

In [36]:
a = 1
a+=2
print(a)

3

GIT AND GITHUB

For Initializing -> git init 

2. for adding -> git add .

3. for checking status -> git status

4. for commiting -> git commit -m "Initial commit" 

5. for push -> git push -u origin main

HOME WORK QUESTIONS (ASSIGNMENT)

In [5]:
# Write program that reads a number N and prints square of N rows  and  N columns using numbers starting from 1


N = int(input("Enter a number N: "));

num = 1
width = len(str(N * N))   # find width of the largest number

for i in range(N):               
    for j in range(N):            
        print(f"{num:{width}}", end="  ")   # print the number inside a column of fixed width (width = max digits), and keep printing in the same line until row ends.
        num += 1
    print()                       # new line after each row

Enter a number N:  5

 1   2   3   4   5
 6   7   8   9  10
11  12  13  14  15
16  17  18  19  20
21  22  23  24  25

In [7]:
# Write a program that reads a number N and prints two Right Angled Triangles of N rows, using numbers starting from 1.

N = int(input("Enter a number N: "))

# Find the largest number to decide spacing
max_num = N * (N + 1) // 2
width = len(str(max_num)) + 1   # +1 for spacing

# First Triangle (Left aligned)
print("First Triangle:")
num = 1
for i in range(1, N + 1):
    for j in range(i):
        print(f"{num:{width}}", end="")
        num += 1
    print()

# Second Triangle (Right aligned)
print("Second Triangle:")
num = 1
for i in range(1, N + 1):
    print(" " * ((N - i) * width), end="")  # spaces before numbers
    for j in range(i):
        print(f"{num:{width}}", end="")
        num += 1
    print()

Enter a number N:  5

First Triangle:
  1
  2  3
  4  5  6
  7  8  9 10
 11 12 13 14 15
Second Triangle:
              1
           2  3
        4  5  6
     7  8  9 10
 11 12 13 14 15

In [9]:
# Write a program to print the factorial of N Factorial is the product of all positive integers less than or equal to N

N = int(input("Enter a number: "))

fact = 1   # start with 1, since multiplying by 0 would make it 0
for i in range(1, N + 1):
    fact *= i   # multiply fact by i each time

print(f"Factorial of {N} is: {fact}")

Enter a number:  5

Factorial of 5 is: 120

In [13]:
# Write a program that reads a string and prints the count of vowels in the string.


text = input("Enter a string: ")

vowels = "aeiouAEIOU"   
count = 0

for ch in text:
    if ch in vowels:
        count += 1

print("Number of vowels in the string is", count)

Enter a string:  Akash@rishi

Number of vowels in the string is 4

In [1]:
# Given two numbers X and N, write a program to print the sum of N terms in the given series.
 
# Series:(x)^2, (xx)^2, (xxx)², N terms

X = int(input("Enter the number X: "))
N = int(input("Enter the number of terms N: "))

term = ""   # to build numbers like "2", "22", "222" etc.
total = 0

for i in range(1, N + 1):
    term += str(X)        # build the number by repeating X
    num = int(term)       # convert string to integer
    total += num * num    # square it and add to total

print("Sum of series is", total)

Enter the number X:  3
Enter the number of terms N:  3

Sum of series is 111987

In [15]:
# Given a string, write program to print only alphabets in the given string

text = input("Enter a string: ")

result = ""
for ch in text:
    if ch.isalpha():   # checks if character is an alphabet
        result += ch

print("Alphabets in the string:", result);

Enter a string:  akash@7989

Alphabets in the string: akash

In [17]:
# Given string write program that prints all the uppercase letters of the string

text = input("Enter a string: ")

result = ""
for ch in text:
    if ch.isupper():   # checks if character is uppercase
        result += ch

print("Uppercase letters in the string:", result);

Enter a string:  AkaSH@RiShI

Uppercase letters in the string: ASHRSI

In [21]:
# Simple Calculator using Python

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Select operation:")
print("1. Addition (+)")
print("2. Subtraction (-)")
print("3. Multiplication (*)")
print("4. Division (/)")

choice = input("Enter choice (1/2/3/4): ")

if choice == '1' or choice == '+':
    print("Result:", num1 + num2)
elif choice == '2' or choice == '-':
    print("Result:", num1 - num2)
elif choice == '3' or choice == '*':
    print("Result:", num1 * num2)
elif choice == '4' or choice == '/':
    if num2 != 0:
        print("Result:", num1 / num2)
    else:
        print("Error: Division by zero not allowed!")
else:
    print("Invalid input!")

Enter first number:  8
Enter second number:  9

Select operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)

Enter choice (1/2/3/4):  2

Result: -1.0